
.limedocs-highlighter {
    font-family: 'Source Code Pro';
    display: block;
    font-size: 0.75em;
    color: #C5C8C6;
    position: relative;
    overflow: auto;
    zoom: 1;
}

.limedocs-line-num a, .limedocs-line-num a:visited {
    color: #888;
    text-decoration: none;
    display: inline-block;
    text-align: right;
}
.limedocs-line-num a:hover {
    text-decoration: underline;
}

.limedocs-highlighter > div {
    box-sizing: border-box;
}

.limedocs-highlighter-editor {
    background-color: #1D1F21;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    padding: 8px;
    left: 30px;
    float: left;
}

.limedocs-highlighter-gutter {
    background-color: #E0E0E0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    padding: 8px;
    left: 0px;
    width: 30px;
    float: left;
    border-right: 1px solid #C0C0C0;
}

.limedocs-generic-new-line {
    content: "\A";
    white-space: pre;
}
.limedocs-generic-whitespace {
    white-space: pre;
}

.limedocs-generic-predefined-constant {
    color:rgb(205, 143, 0);
}

.limedocs-generic-keyword {
    font-weight: 600;
    color: #B294BB;
}

.limedocs-generic-variable {
    color: #CC6666;
}

.limedocs-generic-language-string {
    color: #F0C674
}

.limedocs-generic-function
{
    color: #F0C674
}

.limedocs-generic-heredoc {
    white-space: pre;
    color:#81A2BE
}

.limedocs-generic-quoted-string {
    color:#81A2BE;
}

.limedocs-generic-comment {
    color: #777;
    white-space: pre;
}

.limedocs-generic-class,
.limedocs-generic-namespace {
    color: #C5C8C6;
    background:#333;
}